# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\teams-clone-engine-io\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
